<h2>Tell us about yourself</h2><form method='POST'>Name: <input name='Name'><br>Email: <input name='Email'><br>Phone: <input name='Phone'><br>Address: <input name='Property Address'><br>Units: <select name='How Many Rental Units Do You own'><option>0</option><option>1</option><option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option><option>10+</option></select><br>I Am: <select name='I Am'<option value="Looking To Buy My First Property">Looking To Buy My First Property</option>
    <option value="Looking To Buy More Properties">Looking To Buy More Properties</option>
    <option value="Looking To Move Out & Rent My Place">Looking To Move Out & Rent My Place</option>
    <option value="Looking To Hire Someone To Find Me A Tenant">Looking To Hire Someone To Find Me A Tenant</option>
    <option value="I Currently Self Manage & Considering Hiring A PM">I Currently Self Manage & Considering Hiring A PM</option>
    <option value="I Currently Self Manage & Just Want To Be A Sharper Investor">I Currently Self Manage & Just Want To Be A Sharper Investor</option></select><br>Comments: <input name='Anything You Want To Share W/Us'><br><button type='submit'>Submit</button></form>
