<h2>Tell us about yourself</h2><form method='POST'>Name: <input name='Name'><br>Email: <input name='Email'><br>Phone: <input name='Phone'><br>Address: <input name='Property Address'><br>Units: <select name='How Many Rental Units Do You own'><option>0</option><option>1</option><option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option><option>10+</option></select><br>I Am: <select name='I Am'><option>Looking To Buy My First Property</option></select><br>Comments: <input name='Anything You Want To Share W/Us'><br><button type='submit'>Submit</button></form>
